/* Neon hover effect */
.neon-hover {
    position: relative;
    display: inline-block;
    color: black;
    /*background-image: linear-gradient(45deg, #00ffff, #ff00ff);*/
    background-clip: text;
    -webkit-background-clip: text;
    transition: color 0.3s ease;
}

.neon-hover:hover {
    color: black;
    /*text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #ff00ff, 0 0 20px #ff00ff;*/
}
a {
    border: 1px solid black;
}